<div class="ui large breadcrumb">
  <a class="section">Home</a>
  <i class="right chevron icon divider"></i>
  <a class="section">Result</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Detail</div>
</div>

<div>

  <%= @test.id %>
  <%= @test.description %>
</div>
